.container {
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 10px;
}
input {
  
  padding: 10px;
  border: none;
  border-radius: 20px 0 0 20px;
  max-width: 300px;
  outline: none;
  width: 60%;
}
button {
  padding: 10px ;
  border: none;
  border-radius: 0 20px 20px 0;
  background-color: #ff8c00;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}
button:hover{
    background-color: #ff7300;

}